.container {
    padding-inline: 5rem;
    position: relative;
}

.btn-primary {
    border: 1px solid #fff;
    padding: 0.8rem;
    color: #111;
    background-color: #fff;

    &:hover {
        color: #fff;
        background: transparent;
        transition: all 0.2s ease-in-out;
    }
}

.btn-secondary {
    border: 1px solid #fff;
    padding: 0.8rem;
    color: #fff;
    &:hover {
        color: #111;
        background-color: #fff;
        transition: all 0.2s ease-in-out;
    }
}
